server {
    listen 80;
    listen [::]:80;
    server_name ${DEPLOYMENT_DOMAIN};
    client_max_body_size 2m;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 503;
    }
}
