server {
    listen 80;
    listen [::]:80;
    server_name ${DEPLOYMENT_DOMAIN} ${FRONTEND_DOMAIN};
    client_max_body_size 2m;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${DEPLOYMENT_DOMAIN};
    client_max_body_size 2m;

    ssl_certificate /etc/letsencrypt/live/${DEPLOYMENT_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${DEPLOYMENT_DOMAIN}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;

    location /api {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME /var/www/html/api/router.php;
        fastcgi_param SCRIPT_NAME /api/router.php;
        fastcgi_pass app:9000;
        fastcgi_read_timeout 30s;
    }

    location / {
        return 404;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${FRONTEND_DOMAIN};
    client_max_body_size 2m;

    ssl_certificate /etc/letsencrypt/live/${DEPLOYMENT_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${DEPLOYMENT_DOMAIN}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;

    root /usr/share/nginx/html;
    index index.html;

    location /assets/ {
        try_files $uri =404;
        expires 1y;
        add_header Cache-Control "public";
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
